In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("car.csv")

In [3]:
print(dataset)

                                       name    company  year  kms_driven  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007  45,000 kms
1                   Mahindra Jeep CL550 MDI   Mahindra  2006      40 kms
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  22,000 kms
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014  28,000 kms
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014  36,000 kms
..                                      ...        ...   ...         ...
887                                      Ta       Tara  zest         NaN
888                     Tata Zest XM Diesel       Tata  2018  27,000 kms
889                      Mahindra Quanto C8   Mahindra  2013  40,000 kms
890                Honda Amaze 1.2 E i VTEC      Honda  2014      Petrol
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014      Petrol

    fuel_type          Price
0      Petrol         80,000
1      Diesel       4,25,000
2      Petrol  Ask For Price
3      Petrol       3,25,000
4      Diesel       5,75,000
..        ...            ...
887       NaN       3,10,000
888    Diesel       2,60,000
889    Diesel       3,90,000
890       NaN       1,80,000
891       NaN       1,60,000

[892 rows x 6 columns]

In [4]:
print(dataset.head(50))

                                       name     company  year  kms_driven  \
0      Hyundai Santro Xing XO eRLX Euro III     Hyundai  2007  45,000 kms
1                   Mahindra Jeep CL550 MDI    Mahindra  2006      40 kms
2                Maruti Suzuki Alto 800 Vxi      Maruti  2018  22,000 kms
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT     Hyundai  2014  28,000 kms
4          Ford EcoSport Titanium 1.5L TDCi        Ford  2014  36,000 kms
5          Ford EcoSport Titanium 1.5L TDCi        Ford  2015  59,000 kms
6                                 Ford Figo        Ford  2012  41,000 kms
7                               Hyundai Eon     Hyundai  2013  25,000 kms
8          Ford EcoSport Ambiente 1.5L TDCi        Ford  2016  24,530 kms
9            Maruti Suzuki Alto K10 VXi AMT      Maruti  2015  60,000 kms
10              Skoda Fabia Classic 1.2 MPI       Skoda  2010  60,000 kms
11               Maruti Suzuki Stingray VXi      Maruti  2015  30,000 kms
12              Hyundai Elite i20 Magna 1.2     Hyundai  2014  32,000 kms
13               Mahindra Scorpio SLE BS IV    Mahindra  2015  48,660 kms
14     Hyundai Santro Xing XO eRLX Euro III     Hyundai  2007  45,000 kms
15                  Mahindra Jeep CL550 MDI    Mahindra  2006      40 kms
16                                  Audi A8        Audi  2017   4,000 kms
17                                  Audi Q7        Audi  2014  16,934 kms
18                     Mahindra Scorpio S10    Mahindra  2016  43,000 kms
19                   Maruti Suzuki Alto 800      Maruti  2014  35,550 kms
20                     Mahindra Scorpio S10    Mahindra  2016  43,000 kms
21                     Mahindra Scorpio S10    Mahindra  2016  39,522 kms
22               Maruti Suzuki Alto 800 Vxi      Maruti  2015  39,000 kms
23                   Hyundai i20 Sportz 1.2     Hyundai  2012  55,000 kms
24                   Hyundai i20 Sportz 1.2     Hyundai  2012  55,000 kms
25                   Hyundai i20 Sportz 1.2     Hyundai  2012  55,000 kms
26                Maruti Suzuki Alto 800 Lx      Maruti  2017  72,000 kms
27          Maruti Suzuki Vitara Brezza ZDi      Maruti  2016  15,975 kms
28                    Maruti Suzuki Alto LX      Maruti  2008  70,000 kms
29                       Mahindra Bolero DI    Mahindra  2017  23,452 kms
30            Maruti Suzuki Swift Dzire ZDi      Maruti  2014  35,522 kms
31                 Mahindra Scorpio S10 4WD    Mahindra  2015  48,508 kms
32            Maruti Suzuki Swift Vdi BSIII      Maruti  2017  15,487 kms
33         Maruti Suzuki Wagon R VXi BS III      Maruti  2013  39,000 kms
34          Maruti Suzuki Wagon R VXi Minor      Maruti  2013  39,000 kms
35          Toyota Innova 2.0 G 8 STR BS IV      Toyota  2012  82,000 kms
36                  Renault Lodgy 85 PS RXL     Renault  2018  20,000 kms
37       Skoda Yeti Ambition 2.0 TDI CR 4x2       Skoda  2012  68,000 kms
38           Maruti Suzuki Baleno Delta 1.2      Maruti  2017  32,000 kms
39    Renault Duster 110 PS RxZ Diesel Plus     Renault  2012  38,000 kms
40          Renault Duster 85 PS RxE Diesel     Renault  2013  27,000 kms
41                      Honda City 1.5 S MT       Honda  2011  33,000 kms
42           Maruti Suzuki Alto K10 VXi AMT      Maruti  2015  60,000 kms
43                      Maruti Suzuki Dzire      Maruti  2013  46,000 kms
44                              Honda Amaze       Honda  2013  46,000 kms
45                Honda Amaze 1.5 SX i DTEC       Honda  2015  36,000 kms
46                               Honda City       Honda  2015  55,000 kms
47                         Datsun Redi GO S      Datsun  2017  16,000 kms
48                 Maruti Suzuki SX4 ZXI MT      Maruti  2010  36,000 kms
49  Mitsubishi Pajero Sport Limited Edition  Mitsubishi  2015  47,000 kms

   fuel_type          Price
0     Petrol         80,000
1     Diesel       4,25,000
2     Petrol  Ask For Price
3     Petrol       3,25,000
4     Diesel       5,75,000
5     Diesel  Ask For Price
6     Diesel       1,75,000
7     Petrol       1,90,000
8     Diesel       8,30,000
9     Petrol       2,50,000
10    Petrol       1,82,000
11    Petrol       3,15,000
12    Petrol       4,15,000
13    Diesel       3,20,000
14    Petrol         80,000
15    Diesel       4,25,000
16    Petrol      10,00,000
17    Diesel       5,00,000
18    Diesel       3,50,000
19    Petrol       1,60,000
20    Diesel       3,50,000
21    Diesel       3,10,000
22    Petrol         75,000
23    Petrol       1,00,000
24    Petrol       1,00,000
25    Petrol       1,00,000
26    Petrol       1,90,000
27    Diesel       2,90,000
28    Petrol         95,000
29    Diesel       1,80,000
30    Diesel       3,85,000
31    Diesel       2,50,000
32    Petrol       1,80,000
33    Petrol       1,05,000
34    Petrol       1,05,000
35    Diesel       6,50,000
36    Diesel       6,89,999
37    Diesel       4,48,000
38    Diesel       5,49,000
39    Diesel       5,01,000
40    Diesel       4,89,999
41    Petrol       2,80,000
42    Petrol       2,50,000
43    Diesel       3,49,999
44    Diesel       2,84,999
45    Diesel       3,45,000
46    Petrol       4,99,999
47    Petrol       2,35,000
48    Petrol       2,49,999
49    Diesel      14,75,000

In [5]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
 5   Price       892 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB
None

In [6]:
df=dataset.dropna()

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    object
 3   kms_driven  837 non-null    object
 4   fuel_type   837 non-null    object
 5   Price       837 non-null    object
dtypes: object(6)
memory usage: 45.8+ KB
None

In [8]:
df.head(50)

,name,company,year,kms_driven,fuel_type,Price
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"45,000 kms",Petrol,"80,000"
1,Mahindra Jeep CL550 MDI,Mahindra,2006,40 kms,Diesel,"4,25,000"
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,"22,000 kms",Petrol,Ask For Price
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"28,000 kms",Petrol,"3,25,000"
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"36,000 kms",Diesel,"5,75,000"
5,Ford EcoSport Titanium 1.5L TDCi,Ford,2015,"59,000 kms",Diesel,Ask For Price
6,Ford Figo,Ford,2012,"41,000 kms",Diesel,"1,75,000"
7,Hyundai Eon,Hyundai,2013,"25,000 kms",Petrol,"1,90,000"
8,Ford EcoSport Ambiente 1.5L TDCi,Ford,2016,"24,530 kms",Diesel,"8,30,000"
9,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"60,000 kms",Petrol,"2,50,000"
10,Skoda Fabia Classic 1.2 MPI,Skoda,2010,"60,000 kms",Petrol,"1,82,000"
11,Maruti Suzuki Stingray VXi,Maruti,2015,"30,000 kms",Petrol,"3,15,000"
12,Hyundai Elite i20 Magna 1.2,Hyundai,2014,"32,000 kms",Petrol,"4,15,000"
13,Mahindra Scorpio SLE BS IV,Mahindra,2015,"48,660 kms",Diesel,"3,20,000"
14,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"45,000 kms",Petrol,"80,000"
15,Mahindra Jeep CL550 MDI,Mahindra,2006,40 kms,Diesel,"4,25,000"
16,Audi A8,Audi,2017,"4,000 kms",Petrol,"10,00,000"
17,Audi Q7,Audi,2014,"16,934 kms",Diesel,"5,00,000"
18,Mahindra Scorpio S10,Mahindra,2016,"43,000 kms",Diesel,"3,50,000"
19,Maruti Suzuki Alto 800,Maruti,2014,"35,550 kms",Petrol,"1,60,000"
20,Mahindra Scorpio S10,Mahindra,2016,"43,000 kms",Diesel,"3,50,000"
21,Mahindra Scorpio S10,Mahindra,2016,"39,522 kms",Diesel,"3,10,000"
22,Maruti Suzuki Alto 800 Vxi,Maruti,2015,"39,000 kms",Petrol,"75,000"
23,Hyundai i20 Sportz 1.2,Hyundai,2012,"55,000 kms",Petrol,"1,00,000"
24,Hyundai i20 Sportz 1.2,Hyundai,2012,"55,000 kms",Petrol,"1,00,000"
25,Hyundai i20 Sportz 1.2,Hyundai,2012,"55,000 kms",Petrol,"1,00,000"
26,Maruti Suzuki Alto 800 Lx,Maruti,2017,"72,000 kms",Petrol,"1,90,000"
27,Maruti Suzuki Vitara Brezza ZDi,Maruti,2016,"15,975 kms",Diesel,"2,90,000"
28,Maruti Suzuki Alto LX,Maruti,2008,"70,000 kms",Petrol,"95,000"
29,Mahindra Bolero DI,Mahindra,2017,"23,452 kms",Diesel,"1,80,000"
30,Maruti Suzuki Swift Dzire ZDi,Maruti,2014,"35,522 kms",Diesel,"3,85,000"
31,Mahindra Scorpio S10 4WD,Mahindra,2015,"48,508 kms",Diesel,"2,50,000"
32,Maruti Suzuki Swift Vdi BSIII,Maruti,2017,"15,487 kms",Petrol,"1,80,000"
33,Maruti Suzuki Wagon R VXi BS III,Maruti,2013,"39,000 kms",Petrol,"1,05,000"
34,Maruti Suzuki Wagon R VXi Minor,Maruti,2013,"39,000 kms",Petrol,"1,05,000"
35,Toyota Innova 2.0 G 8 STR BS IV,Toyota,2012,"82,000 kms",Diesel,"6,50,000"
36,Renault Lodgy 85 PS RXL,Renault,2018,"20,000 kms",Diesel,"6,89,999"
37,Skoda Yeti Ambition 2.0 TDI CR 4x2,Skoda,2012,"68,000 kms",Diesel,"4,48,000"
38,Maruti Suzuki Baleno Delta 1.2,Maruti,2017,"32,000 kms",Diesel,"5,49,000"
39,Renault Duster 110 PS RxZ Diesel Plus,Renault,2012,"38,000 kms",Diesel,"5,01,000"
40,Renault Duster 85 PS RxE Diesel,Renault,2013,"27,000 kms",Diesel,"4,89,999"
41,Honda City 1.5 S MT,Honda,2011,"33,000 kms",Petrol,"2,80,000"
42,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"60,000 kms",Petrol,"2,50,000"
43,Maruti Suzuki Dzire,Maruti,2013,"46,000 kms",Diesel,"3,49,999"
44,Honda Amaze,Honda,2013,"46,000 kms",Diesel,"2,84,999"
45,Honda Amaze 1.5 SX i DTEC,Honda,2015,"36,000 kms",Diesel,"3,45,000"
46,Honda City,Honda,2015,"55,000 kms",Petrol,"4,99,999"
47,Datsun Redi GO S,Datsun,2017,"16,000 kms",Petrol,"2,35,000"
48,Maruti Suzuki SX4 ZXI MT,Maruti,2010,"36,000 kms",Petrol,"2,49,999"
49,Mitsubishi Pajero Sport Limited Edition,Mitsubishi,2015,"47,000 kms",Diesel,"14,75,000"

In [9]:
df.tail(50)

,name,company,year,kms_driven,fuel_type,Price
837,Datsun Go Plus,Datsun,2016,"13,900 kms",Petrol,"2,85,000"
838,Ford Endeavor 4x4 Thunder Plus,Ford,2019,"9,000 kms",Diesel,"29,00,000"
839,Tata Indica V2,Tata,2005,"80,000 kms",Diesel,"39,999"
840,Hyundai Santro Xing GL,Hyundai,2006,"60,000 kms",Petrol,"85,000"
841,Maruti Suzuki Wagon R 1.0 VXi,Maruti,2016,"20,000 kms",Petrol,"3,95,000"
842,Maruti Suzuki Swift Select Variant,Maruti,2008,"58,000 kms",Diesel,"1,75,000"
843,Maruti Suzuki Alto 800 Lx,Maruti,2019,"1,500 kms",Petrol,"4,00,000"
844,Toyota Innova 2.5 Z Diesel 7 Seater,Toyota,2011,"75,000 kms",Diesel,"7,50,000"
846,Maruti Suzuki Alto 800,Maruti,2016,"2,450 kms",Petrol,"2,50,000"
847,Maruti Suzuki Alto AX,Maruti,2019,"1,625 kms",Petrol,"4,25,000"
848,Maruti Suzuki Alto 800 Lx,Maruti,2019,"1,500 kms",Petrol,Ask For Price
849,Volkswagen Polo Highline1.2L P,Volkswagen,2017,"45,000 kms",Petrol,"5,25,000"
850,Mahindra Logan,Mahindra,2009,"65,000 kms",Diesel,"1,30,000"
851,Maruti Suzuki 800 Std BS III,Maruti,2000,"33,400 kms",Petrol,"30,000"
852,Mahindra Scorpio,Mahindra,2011,"60,123 kms",Diesel,"4,75,000"
853,Chevrolet Sail 1.2 LS,Chevrolet,2013,"28,000 kms",Petrol,"3,00,000"
854,Volkswagen Vento Highline Plus 1.5 Diesel,Volkswagen,2015,"38,900 kms",Diesel,Ask For Price
855,Hyundai Santro AE GLS Audio,Hyundai,2003,"70,000 kms",Petrol,"60,000"
856,Maruti Suzuki Wagon R VXi Minor,Maruti,2006,"7,000 kms",Petrol,"1,00,000"
857,Hyundai Eon,Hyundai,2018,"25,000 kms",Petrol,"2,60,000"
858,Tata Manza,Tata,2015,"1,00,000 kms",Diesel,"1,00,000"
859,Toyota Innova 2.0 G1 Petrol 8seater,Toyota,2019,"4,000 kms",Petrol,Ask For Price
860,Toyota Etios G,Toyota,2013,"42,000 kms",Petrol,"2,65,000"
861,Hyundai Getz Prime 1.3 GLX,Hyundai,2009,"20,000 kms",Petrol,"1,15,000"
862,Toyota Qualis,Toyota,2003,"1,00,000 kms",Diesel,"1,80,000"
863,Hyundai Santro Xing,Hyundai,2004,"1,37,495 kms",Petrol,"45,000"
864,Tata Indica eV2 LS,Tata,2016,"91,200 kms",Diesel,"50,500"
865,Honda City 1.5 S MT,Honda,2009,"55,000 kms",Petrol,"2,70,000"
866,Tata Zest XE 75 PS Diesel,Tata,2017,"1,20,000 kms",Diesel,"2,90,000"
867,Mahindra Quanto C4,Mahindra,2013,"63,000 kms",Diesel,"3,25,000"
868,Tata Indigo eCS LX CR4 BS IV,Tata,2016,"1,04,000 kms",Diesel,"1,60,000"
869,Maruti Suzuki Swift Dzire,Maruti,2016,"1,46,000 kms",Diesel,"3,50,000"
870,Hyundai Elite i20,Hyundai,2011,"40,000 kms",Petrol,"2,90,000"
871,Hyundai i20 Select Variant,Hyundai,2011,"40,000 kms",Petrol,"2,90,000"
872,Chevrolet Tavera Neo,Chevrolet,2007,"1,00,800 kms",Diesel,"4,65,000"
873,Maruti Suzuki Dzire,Maruti,2016,"1,50,000 kms",Diesel,"3,25,000"
874,Hyundai Elite i20,Hyundai,2018,"2,100 kms",Petrol,"5,10,000"
875,Honda City VX Petrol,Honda,2016,"95,000 kms",Petrol,"8,60,000"
876,Maruti Suzuki Dzire,Maruti,2016,"2,500 kms",Diesel,"4,50,000"
877,Hyundai Getz,Hyundai,2006,"80,000 kms",Petrol,"1,25,000"
878,Mercedes Benz C Class 200 K MT,Mercedes,2006,"15,000 kms",Petrol,"5,00,001"
879,Maruti Suzuki Alto LXi BS III,Maruti,2005,"65,000 kms",Petrol,"95,000"
880,Maruti Suzuki Swift Dzire Tour VDi,Maruti,2009,"51,000 kms",Diesel,"2,50,000"
881,Skoda Fabia,Skoda,2009,"45,000 kms",Petrol,"1,10,000"
882,Maruti Suzuki Alto 800 Select Variant,Maruti,2015,"70,000 kms",Petrol,Ask For Price
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"50,000 kms",Petrol,"2,70,000"
885,Tata Indica V2 DLE BS III,Tata,2009,"30,000 kms",Diesel,"1,10,000"
886,Toyota Corolla Altis,Toyota,2009,"1,32,000 kms",Petrol,"3,00,000"
888,Tata Zest XM Diesel,Tata,2018,"27,000 kms",Diesel,"2,60,000"
889,Mahindra Quanto C8,Mahindra,2013,"40,000 kms",Diesel,"3,90,000"

In [10]:
df['year']=df['year'].astype('object')

C:\Users\Ritesh\AppData\Local\Temp\ipykernel_2544\260487662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year']=df['year'].astype('object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    object
 3   kms_driven  837 non-null    object
 4   fuel_type   837 non-null    object
 5   Price       837 non-null    object
dtypes: object(6)
memory usage: 45.8+ KB

In [12]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [13]:
df['year']=df['year'].astype(int)

C:\Users\Ritesh\AppData\Local\Temp\ipykernel_2544\395121776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year']=df['year'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int32
 3   kms_driven  837 non-null    object
 4   fuel_type   837 non-null    object
 5   Price       837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.5+ KB

In [15]:
backup=df.copy()

In [16]:
df[df['Price']!='Ask For Price']

,name,company,year,kms_driven,fuel_type,Price
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"45,000 kms",Petrol,"80,000"
1,Mahindra Jeep CL550 MDI,Mahindra,2006,40 kms,Diesel,"4,25,000"
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"28,000 kms",Petrol,"3,25,000"
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"36,000 kms",Diesel,"5,75,000"
6,Ford Figo,Ford,2012,"41,000 kms",Diesel,"1,75,000"
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"50,000 kms",Petrol,"2,70,000"
885,Tata Indica V2 DLE BS III,Tata,2009,"30,000 kms",Diesel,"1,10,000"
886,Toyota Corolla Altis,Toyota,2009,"1,32,000 kms",Petrol,"3,00,000"
888,Tata Zest XM Diesel,Tata,2018,"27,000 kms",Diesel,"2,60,000"
889,Mahindra Quanto C8,Mahindra,2013,"40,000 kms",Diesel,"3,90,000"

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int32
 3   kms_driven  837 non-null    object
 4   fuel_type   837 non-null    object
 5   Price       837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.5+ KB

In [18]:
df=df[df['Price']!="Ask For Price"]

In [19]:
df["Price"].unique()

array(['80,000', '4,25,000', '3,25,000', '5,75,000', '1,75,000',
       '1,90,000', '8,30,000', '2,50,000', '1,82,000', '3,15,000',
       '4,15,000', '3,20,000', '10,00,000', '5,00,000', '3,50,000',
       '1,60,000', '3,10,000', '75,000', '1,00,000', '2,90,000', '95,000',
       '1,80,000', '3,85,000', '1,05,000', '6,50,000', '6,89,999',
       '4,48,000', '5,49,000', '5,01,000', '4,89,999', '2,80,000',
       '3,49,999', '2,84,999', '3,45,000', '4,99,999', '2,35,000',
       '2,49,999', '14,75,000', '3,95,000', '2,20,000', '1,70,000',
       '85,000', '2,00,000', '5,70,000', '1,10,000', '4,48,999',
       '18,91,111', '1,59,500', '3,44,999', '4,49,999', '8,65,000',
       '6,99,000', '3,75,000', '2,24,999', '12,00,000', '1,95,000',
       '3,51,000', '2,40,000', '90,000', '1,55,000', '6,00,000',
       '1,89,500', '2,10,000', '3,90,000', '1,35,000', '16,00,000',
       '7,01,000', '2,65,000', '5,25,000', '3,72,000', '6,35,000',
       '5,50,000', '4,85,000', '3,29,500', '2,51,111', '5,69,999',
       '69,999', '2,99,999', '3,99,999', '4,50,000', '2,70,000',
       '1,58,400', '1,79,000', '1,25,000', '2,99,000', '1,50,000',
       '2,85,000', '3,40,000', '70,000', '2,89,999', '8,49,999',
       '7,49,999', '2,74,999', '9,84,999', '5,99,999', '2,44,999',
       '4,74,999', '2,45,000', '1,69,500', '2,75,000', '3,70,000',
       '1,68,000', '1,45,000', '98,500', '2,09,000', '1,85,000',
       '9,00,000', '6,99,999', '1,99,999', '5,44,999', '1,99,000',
       '5,40,000', '49,000', '7,00,000', '55,000', '8,95,000', '3,55,000',
       '5,65,000', '3,65,000', '40,000', '4,00,000', '3,30,000',
       '5,80,000', '3,79,000', '2,19,000', '5,19,000', '7,30,000',
       '20,00,000', '21,00,000', '14,00,000', '3,11,000', '8,55,000',
       '5,35,000', '1,78,000', '3,00,000', '2,55,000', '5,49,999',
       '3,80,000', '57,000', '4,10,000', '2,25,000', '1,20,000', '59,000',
       '5,99,000', '6,75,000', '72,500', '6,10,000', '2,30,000',
       '5,20,000', '5,24,999', '4,24,999', '6,44,999', '5,84,999',
       '7,99,999', '4,44,999', '6,49,999', '9,44,999', '5,74,999',
       '3,74,999', '1,30,000', '4,01,000', '13,50,000', '1,74,999',
       '2,39,999', '99,999', '3,24,999', '10,74,999', '11,30,000',
       '1,49,000', '7,70,000', '30,000', '3,35,000', '3,99,000', '65,000',
       '1,69,999', '1,65,000', '5,60,000', '9,50,000', '7,15,000',
       '45,000', '9,40,000', '1,55,555', '15,00,000', '4,95,000',
       '8,00,000', '12,99,000', '5,30,000', '14,99,000', '32,000',
       '4,05,000', '7,60,000', '7,50,000', '4,19,000', '1,40,000',
       '15,40,000', '1,23,000', '4,98,000', '4,80,000', '4,88,000',
       '15,25,000', '5,48,900', '7,25,000', '99,000', '52,000',
       '28,00,000', '4,99,000', '3,81,000', '2,78,000', '6,90,000',
       '2,60,000', '90,001', '1,15,000', '15,99,000', '1,59,000',
       '51,999', '2,15,000', '35,000', '11,50,000', '2,69,000', '60,000',
       '4,30,000', '85,00,003', '4,01,919', '4,90,000', '4,24,000',
       '2,05,000', '5,49,900', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [20]:
df['Price']=df['Price'].str.replace(",","").astype(int)

In [21]:
df["Price"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   kms_driven  816 non-null    object
 4   fuel_type   816 non-null    object
 5   Price       816 non-null    int32
dtypes: int32(2), object(4)
memory usage: 38.2+ KB

In [22]:
df['kms_driven']=df['kms_driven'].str.split(" ").str.get(0).str.replace(",","")

In [23]:
df=df[df["kms_driven"].str.isnumeric()]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   kms_driven  816 non-null    object
 4   fuel_type   816 non-null    object
 5   Price       816 non-null    int32
dtypes: int32(2), object(4)
memory usage: 38.2+ KB

In [25]:
df['kms_driven']=df['kms_driven'].astype(int)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   kms_driven  816 non-null    int32
 4   fuel_type   816 non-null    object
 5   Price       816 non-null    int32
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [27]:
df=df[~df['fuel_type'].isna()]

In [28]:
df['name']=df['name'].str.split(" ").str.slice(0,3).str.join(" ")

In [29]:
df=df.reset_index(drop=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   kms_driven  816 non-null    int32
 4   fuel_type   816 non-null    object
 5   Price       816 non-null    int32
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [31]:
df.describe()

              year     kms_driven         Price
count   816.000000     816.000000  8.160000e+02
mean   2012.444853   46275.531863  4.117176e+05
std       4.002992   34297.428044  4.751844e+05
min    1995.000000       0.000000  3.000000e+04
25%    2010.000000   27000.000000  1.750000e+05
50%    2013.000000   41000.000000  2.999990e+05
75%    2015.000000   56818.500000  4.912500e+05
max    2019.000000  400000.000000  8.500003e+06

In [32]:
dr=df.copy()
df=df[df['Price']<6e6].reset_index(drop=True)

In [33]:
df.to_csv('Cleanednew_data.csv')

In [34]:
X=df.iloc[:,0:5]

In [35]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [36]:
y=df[['Price']]

In [37]:
y

      Price
0     80000
1    425000
2    325000
3    575000
4    175000
..      ...
810  270000
811  110000
812  300000
813  260000
814  390000

[815 rows x 1 columns]

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [40]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [41]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [42]:
lr=LinearRegression()

In [43]:
pipe=make_pipeline(column_trans,lr)

In [44]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [45]:
y_pred=pipe.predict(X_test)

In [46]:
r2_score(y_test,y_pred)

0.7653994166954117

In [83]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    print(i,scores)
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
score=r2_score(y_test,y_pred)
scores.append(score)
#scores.append(r2_score(y_test,y_pred))

0 []
1 []
2 []
3 []
4 []
5 []
6 []
7 []
8 []
9 []
10 []
11 []
12 []
13 []
14 []
15 []
16 []
17 []
18 []
19 []
20 []
21 []
22 []
23 []
24 []
25 []
26 []
27 []
28 []
29 []
30 []
31 []
32 []
33 []
34 []
35 []
36 []
37 []
38 []
39 []
40 []
41 []
42 []
43 []
44 []
45 []
46 []
47 []
48 []
49 []
50 []
51 []
52 []
53 []
54 []
55 []
56 []
57 []
58 []
59 []
60 []
61 []
62 []
63 []
64 []
65 []
66 []
67 []
68 []
69 []
70 []
71 []
72 []
73 []
74 []
75 []
76 []
77 []
78 []
79 []
80 []
81 []
82 []
83 []
84 []
85 []
86 []
87 []
88 []
89 []
90 []
91 []
92 []
93 []
94 []
95 []
96 []
97 []
98 []
99 []
100 []
101 []
102 []
103 []
104 []
105 []
106 []
107 []
108 []
109 []
110 []
111 []
112 []
113 []
114 []
115 []
116 []
117 []
118 []
119 []
120 []
121 []
122 []
123 []
124 []
125 []
126 []
127 []
128 []
129 []
130 []
131 []
132 []
133 []
134 []
135 []
136 []
137 []
138 []
139 []
140 []
141 []
142 []
143 []
144 []
145 []
146 []
147 []
148 []
149 []
150 []
151 []
152 []
153 []
154 []
155 []
156 []
157 []
158 []
159 []
160 []
161 []
162 []
163 []
164 []
165 []
166 []
167 []
168 []
169 []
170 []
171 []
172 []
173 []
174 []
175 []
176 []
177 []
178 []
179 []
180 []
181 []
182 []
183 []
184 []
185 []
186 []
187 []
188 []
189 []
190 []
191 []
192 []
193 []
194 []
195 []
196 []
197 []
198 []
199 []
200 []
201 []
202 []
203 []
204 []
205 []
206 []
207 []
208 []
209 []
210 []
211 []
212 []
213 []
214 []
215 []
216 []
217 []
218 []
219 []
220 []
221 []
222 []
223 []
224 []
225 []
226 []
227 []
228 []
229 []
230 []
231 []
232 []
233 []
234 []
235 []
236 []
237 []
238 []
239 []
240 []
241 []
242 []
243 []
244 []
245 []
246 []
247 []
248 []
249 []
250 []
251 []
252 []
253 []
254 []
255 []
256 []
257 []
258 []
259 []
260 []
261 []
262 []
263 []
264 []
265 []
266 []
267 []
268 []
269 []
270 []
271 []
272 []
273 []
274 []
275 []
276 []
277 []
278 []
279 []
280 []
281 []
282 []
283 []
284 []
285 []
286 []
287 []
288 []
289 []
290 []
291 []
292 []
293 []
294 []
295 []
296 []
297 []
298 []
299 []
300 []
301 []
302 []
303 []
304 []
305 []
306 []
307 []
308 []
309 []
310 []
311 []
312 []
313 []
314 []
315 []
316 []
317 []
318 []
319 []
320 []
321 []
322 []
323 []
324 []
325 []
326 []
327 []
328 []
329 []
330 []
331 []
332 []
333 []
334 []
335 []
336 []
337 []
338 []
339 []
340 []
341 []
342 []
343 []
344 []
345 []
346 []
347 []
348 []
349 []
350 []
351 []
352 []
353 []
354 []
355 []
356 []
357 []
358 []
359 []
360 []
361 []
362 []
363 []
364 []
365 []
366 []
367 []
368 []
369 []
370 []
371 []
372 []
373 []
374 []
375 []
376 []
377 []
378 []
379 []
380 []
381 []
382 []
383 []
384 []
385 []
386 []
387 []
388 []
389 []
390 []
391 []
392 []
393 []
394 []
395 []
396 []
397 []
398 []
399 []
400 []
401 []
402 []
403 []
404 []
405 []
406 []
407 []
408 []
409 []
410 []
411 []
412 []
413 []
414 []
415 []
416 []
417 []
418 []
419 []
420 []
421 []
422 []
423 []
424 []
425 []
426 []
427 []
428 []
429 []
430 []
431 []
432 []
433 []
434 []
435 []
436 []
437 []
438 []
439 []
440 []
441 []
442 []
443 []
444 []
445 []
446 []
447 []
448 []
449 []
450 []
451 []
452 []
453 []
454 []
455 []
456 []
457 []
458 []
459 []
460 []
461 []
462 []
463 []
464 []
465 []
466 []
467 []
468 []
469 []
470 []
471 []
472 []
473 []
474 []
475 []
476 []
477 []
478 []
479 []
480 []
481 []
482 []
483 []
484 []
485 []
486 []
487 []
488 []
489 []
490 []
491 []
492 []
493 []
494 []
495 []
496 []
497 []
498 []
499 []
500 []
501 []
502 []
503 []
504 []
505 []
506 []
507 []
508 []
509 []
510 []
511 []
512 []
513 []
514 []
515 []
516 []
517 []
518 []
519 []
520 []
521 []
522 []
523 []
524 []
525 []
526 []
527 []
528 []
529 []
530 []
531 []
532 []
533 []
534 []
535 []
536 []
537 []
538 []
539 []
540 []
541 []
542 []
543 []
544 []
545 []
546 []
547 []
548 []
549 []
550 []
551 []
552 []
553 []
554 []
555 []
556 []
557 []
558 []
559 []
560 []
561 []
562 []
563 []
564 []
565 []
566 []
567 []
568 []
569 []
570 []
571 []
572 []
573 []
574 []
575 []
576 []
577 []
578 []
579 []
580 []
581 []
582 []
583 []
584 []
585 []
586 []
587 []
588 []
589 []
590 []
591 []
592 []
593 []
594 []
595 []
596 []
597 []
598 []
599 []
600 []
601 []
602 []
603 []
604 []
605 []
606 []
607 []
608 []
609 []
610 []
611 []
612 []
613 []
614 []
615 []
616 []
617 []
618 []
619 []
620 []
621 []
622 []
623 []
624 []
625 []
626 []
627 []
628 []
629 []
630 []
631 []
632 []
633 []
634 []
635 []
636 []
637 []
638 []
639 []
640 []
641 []
642 []
643 []
644 []
645 []
646 []
647 []
648 []
649 []
650 []
651 []
652 []
653 []
654 []
655 []
656 []
657 []
658 []
659 []
660 []
661 []
662 []
663 []
664 []
665 []
666 []
667 []
668 []
669 []
670 []
671 []
672 []
673 []
674 []
675 []
676 []
677 []
678 []
679 []
680 []
681 []
682 []
683 []
684 []
685 []
686 []
687 []
688 []
689 []
690 []
691 []
692 []
693 []
694 []
695 []
696 []
697 []
698 []
699 []
700 []
701 []
702 []
703 []
704 []
705 []
706 []
707 []
708 []
709 []
710 []
711 []
712 []
713 []
714 []
715 []
716 []
717 []
718 []
719 []
720 []
721 []
722 []
723 []
724 []
725 []
726 []
727 []
728 []
729 []
730 []
731 []
732 []
733 []
734 []
735 []
736 []
737 []
738 []
739 []
740 []
741 []
742 []
743 []
744 []
745 []
746 []
747 []
748 []
749 []
750 []
751 []
752 []
753 []
754 []
755 []
756 []
757 []
758 []
759 []
760 []
761 []
762 []
763 []
764 []
765 []
766 []
767 []
768 []
769 []
770 []
771 []
772 []
773 []
774 []
775 []
776 []
777 []
778 []
779 []
780 []
781 []
782 []
783 []
784 []
785 []
786 []
787 []
788 []
789 []
790 []
791 []
792 []
793 []
794 []
795 []
796 []
797 []
798 []
799 []
800 []
801 []
802 []
803 []
804 []
805 []
806 []
807 []
808 []
809 []
810 []
811 []
812 []
813 []
814 []
815 []
816 []
817 []
818 []
819 []
820 []
821 []
822 []
823 []
824 []
825 []
826 []
827 []
828 []
829 []
830 []
831 []
832 []
833 []
834 []
835 []
836 []
837 []
838 []
839 []
840 []
841 []
842 []
843 []
844 []
845 []
846 []
847 []
848 []
849 []
850 []
851 []
852 []
853 []
854 []
855 []
856 []
857 []
858 []
859 []
860 []
861 []
862 []
863 []
864 []
865 []
866 []
867 []
868 []
869 []
870 []
871 []
872 []
873 []
874 []
875 []
876 []
877 []
878 []
879 []
880 []
881 []
882 []
883 []
884 []
885 []
886 []
887 []
888 []
889 []
890 []
891 []
892 []
893 []
894 []
895 []
896 []
897 []
898 []
899 []
900 []
901 []
902 []
903 []
904 []
905 []
906 []
907 []
908 []
909 []
910 []
911 []
912 []
913 []
914 []
915 []
916 []
917 []
918 []
919 []
920 []
921 []
922 []
923 []
924 []
925 []
926 []
927 []
928 []
929 []
930 []
931 []
932 []
933 []
934 []
935 []
936 []
937 []
938 []
939 []
940 []
941 []
942 []
943 []
944 []
945 []
946 []
947 []
948 []
949 []
950 []
951 []
952 []
953 []
954 []
955 []
956 []
957 []
958 []
959 []
960 []
961 []
962 []
963 []
964 []
965 []
966 []
967 []
968 []
969 []
970 []
971 []
972 []
973 []
974 []
975 []
976 []
977 []
978 []
979 []
980 []
981 []
982 []
983 []
984 []
985 []
986 []
987 []
988 []
989 []
990 []
991 []
992 []
993 []
994 []
995 []
996 []
997 []
998 []
999 []

In [67]:
best=np.argmax(scores)
best

40

In [70]:
best=scores[np.argmax(scores)]
best

0.31576920731740843

In [71]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.31576920731740843

In [72]:
import pickle

In [73]:
pickle.dump(pipe,open('LinearRegresionModel.pkl','wb'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int32
 3   kms_driven  815 non-null    int32
 4   fuel_type   815 non-null    object
 5   Price       815 non-null    int32
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [74]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=["name","company","year","kms_driven","fuel_type"]))

array([[390239.14671286]])

In [75]:
pipe.predict(pd.DataFrame([['Ford EcoSport Titanium','Ford',2014,36000,'Diesel']],columns=["name","company","year","kms_driven","fuel_type"]))

array([[434677.99034464]])